<!DOCTYPE html>
<html lang="ca">
<head>
  {{> header}}
  <title>Pel·lícules</title>
</head>
<body>
  {{> menu}}

  <main class="container">
    <h1>Pel·lícules</h1>

    <p>Informació actualitzada de la base de dades</p>

    <table class="table">
      <thead>
        <tr>
          <th>Títol</th>
          <th>Any</th>
          <th>Actors</th>
        </tr>
      </thead>

      <tbody>
        {{#each movies}}
          <tr>
            <td>{{Titol}}</td>
            <td>{{Any}}</td>
            <td>{{Actors}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </main>

  {{> footer}}
</body>
</html>
