<!DOCTYPE html>
<html lang="ca">
<head>
  {{> header}}
  <link rel="stylesheet" href="formularis.css">
  <title>Afegir Pel·lícula</title>
</head>
<body>
  {{> menu}}

  <main class="container">
    <h1>Afegir nova pel·lícula</h1>

    <form method="POST" action="/create" class="form-grid">
      <input type="hidden" name="table" value="movies"/>

      <label for="Titol">Titol</label>
      <input type="text" id="Titol" name="Titol" value="{{movies.Titol}}" required>

      <label for="Any">Any</label>
      <input type="number" id="Any" name="Any" value="{{movies.Any}}" required>
      
      <label for="Any">Actors</label>
      <input type="text" id="Actors" name="Actors" value="{{movies.Actors}}" required>


      <button type="submit">Afegir pel·lícula</button>
    </form>
  </main>

  {{> footer}}
</body>
</html>
